<%= bootstrap_form_with model: @article do |form| %>
 
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <!-- <b><%#= form.label :title %><br></b> -->
      <%= form.text_field :title %>
    </p>
   
    <p>
      <!-- <b><%#= form.label :text %><br></b> -->
      <%= form.text_area :text %>
    </p>

<!--  <p>
  <%#= form.label :Email %><br>
  <%#= form.text_field :email %>
</p>  
<p>
<%#= form.label :images %>
<%#= form.file_field :images, multiple: true %>
</p> -->
     
    <p>
      <%= form.submit %>
    </p>
   
<% end %>



 



